@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2 class="hash">#Enter your email</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control inputs" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="butt">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .hash {
        color: #169D88;
        font-weight: bold;
    }

    .inputs {
        margin-top: 20px !important;
        border: #cefee0 2px solid;
        border-radius: 10px;
        background-color: #2d2d2d;
        color: white;
    }

    input:-internal-autofill-selected {
        margin-top: 20px !important;
        border: #cefee0 2px solid !important;
        border-radius: 10px;
        background-color: #2d2d2d !important;
        color: white !important;
    }

        .inputs:focus {
            background-color: #151515;
            color: white;
        }

    .butt {
        padding: 12px 18px;
        background-color: #319c88;
        font-weight: 700;
        text-align: center;
        border-radius: 30px;
        margin-top: 2em;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #cefee0;
        border: none;
    }

    .butt2 {
        padding: 12px 18px;
        border: 2px solid #319c88;
        font-weight: 700;
        text-align: center;
        border-radius: 30px;
        margin-top: 2em;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #cefee0;
        text-decoration: none;
        font-style: none;
    }

    .info {
        padding: 10px;
        padding: 10px;
        text-wrap: nowrap;
        color: white;
        text-decoration: none;
        font-style: none;
    }

    .submitFlex {
        display: flex;
        width: 70vh;
        align-content: center;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
    }
</style>
